.sidebar {
  width: 250px;
  height: 100vh;
  background-color:black;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 10px;
}

.sidebar-header h2 {
  font-size: 24px;
  font-weight: 600;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li a,
.settings a {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.nav-links li a:hover,
.settings a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-links li.active a {
  background-color: white;
  color: #2c52ed;
}

.link-text {
  margin-left: 10px;
}

.settings {
  margin-top: auto;
}