.body {
  width: 50px;
  height: 100px;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  background-color:rgb(198, 133, 185) ;
  box-shadow: 0px 2px 5px 5px rgb(8, 8, 8);
  
}
.main{
    border-bottom: 10px;
    border-radius: 10px;
    border: azure;
}

.NAV {
  display: flex;
  gap: 20px;
  list-style-type: none;
}
