.body {
  background-color: aquamarine;
  width: 50px;
  height: 200px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  background-color: white;
  box-shadow: 0px 2px 5px 5px rgb(215, 193, 193);
}
.navlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px
  ;
}

.NAV {
  display: flex;
  gap: 20px;
  list-style-type: none;
}
