.body {
  background-color: aquamarine;
  width: 50px;
  height: 70px;
}
.bar1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
   background-color:rgb(107, 53, 53) ;
  box-shadow: 0px 2px 5px 5px rgb(8, 8, 8);
  
  
}

.text {
  display: flex;
  gap: 20px;
  list-style-type: none;
}
