.body {
  background-color: black;
  width: 50px;
  height: 70px;
}
.bar1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: aliceblue;
  list-style-type: none;
  background-color:rgb(25, 24, 24) ;
  box-shadow: 0px 2px 5px 5px rgb(8, 8, 8);

  
}

.text {
  display: flex;
  gap: 20px;
  list-style-type: none;
}
