* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}

.body {
  display: flex;
  background-color: rgb(243, 239, 239);
  width: 1520px;
  height: 100px;
  justify-content: space-around;
  align-items: center;
}

header{
  display: flex;
  
  height: 70px;
  width: 100%;
  background-color:white ;
  box-shadow: 0px 2px 5px 5px rgb(215, 193, 193);
}
nav{
  
  align-items: center;
  justify-content: space-between;
  width: 94%;
  margin: auto auto;
}
.navLeft{
  display: flex;
  align-items: center;
  justify-content: center;
}
.navLeft .logo img{
  width: 30px;
}
nav .navRight img{
  width: 20px;
}
.navLeft .searchBar{
  display: flex;
  align-items: center;
  background-color: rgb(197, 243, 202);
  width: 300px;
  height: 40px;
  border-radius: 20%;

}
.navLeft .searchBar input{
width: 100%;
height: 100%;
background-color: inherit;
border: 0;
outline: none;
font-size: 15px;
}
.navLeft .searchBar .searchIcon{
  width: 30px;
color: rgb(98, 96, 96);
text-align: center;
}
.navRight{
  display: flex;
  align-items: center;
  justify-content: right;
  column-gap: 6px;
}
 .navRight .navMenu{
  width: 100px;
text-align: center;
}
.navRight .navMenu i{
  font-size: 22px;
  color: gray;
}
.navRight .navMenu p{
  font-size: 12px;
  color: gray;
}
.navRight .navMenu p i{
  font-size: 10px;
  color: gray;
}
.navRight .navMenu :nth-child(7){
border-left : 1px solid #827a7a;
}